<style>
	.field-top {
		padding-top: 10px;
	}
	.field-bottom {
		padding-bottom: 10px;
	}
	.field-top-bottom {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	legend.small {
		border-bottom: 0;
		margin-bottom: 10px;
		font-size: 18px;
		font-weight: bold;
	}

	.image-builder-container {
	    position: relative;
	}
	.image-builder {
	    background: #cacaca;
	    box-sizing: border-box;
	    border: 1px solid #cacaca;
	    min-height: 460px;
	    text-align: center;
	    position: relative;
	    overflow-x: scroll;
	    overflow-y: hidden;
	    width: 100%;
	}
	.image-cover {
	    left: 0;
	    right: 0;
	    bottom: 0;
	    top: 0;
	    position: absolute;
	    z-index: 2;
	}
	.fabric-container {
	    background: white;
	    border-radius: 1px;
	    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, .4);
	    display: inline-block;
	    margin: 50px;
	    position: relative;
	    vertical-align: middle;
	    z-index: 0;
	}

	.wave-spinner {
		position: absolute;
		top: 1px;
		left: 38%;
		z-index: 1;
		margin: 0 !important;
	}
</style>
<div class="page-header">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<ol class="breadcrumb bg-white">
			  <li><a href="#" class="text-primary">Home</a></li>
			  <li class="text-primary active">Poster</li>
			  <li class="text-primary active">Mobile</li>
			</ol>
			<hr>
		</div>
	</div>
	<div class="row">
		<aside id="settings" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
			<div ng-include src="'views/splash/mobile-settings.html'"></div>
		</aside>
		<section id="editor" class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
			<div ng-hide="!fabric.presetSize">
				<div class="row margin-top">
				    <div class='col-xs-1 text-center'>
		                <i class='fa fa-search-minus pull-left'></i>
		            </div>
		            <div class='col-xs-10'>
		                <input type='range' class='pull-left' min='.1' max='1' step='.1' ng-change='fabric.setZoom()' ng-model='fabric.canvasScale' />
		            </div>
		            <div class='col-xs-1 text-center'>
		                <i class='fa fa-search-plus'></i>
					</div>
				</div>
				
				<div class="row margin-top">
				    <div class="col-md-10 prefix" id="objects">
			 			<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 btn-group field-top" ng-repeat="object in fabric.getObjects()">
			 				<button type="button" class="col-md-3 btn btn-sm btn-default" ng-click="fabric.setActiveObject(object);toggleControls()">
	                         	<i ng-if="object.type == 'text' || object.type == 'i-text'" class="fa fa-font"></i>
					            <i ng-if="object.type == 'image'" class="fa fa-image"></i>
					            <i ng-if="object.type == 'group'" class="fa fa-group"></i>
					            <i ng-if="object.type == 'path-group'" class="fa fa-star"></i>
					            <i ng-if="object.type == 'circle'" class="fa fa-circle"></i>
					            <i ng-if="object.type == 'rect'" class="fa fa-square"></i>
				            </button>
				 			<button type="button" class="col-md-9 btn btn-sm" ng-click="fabric.setActiveObject(object); fabric.toggleControlObject(true)" ng-class="{'btn-primary': object.active, 'btn-default': !object.active}" title="{{ object.name ? object.name : object.id }}">
			            		<small>{{ object.name ? object.name : object.id }}</small>
	                        </button>
			 			</div>
				    </div>
				    <div class="col-md-2 field-top" ng-show="fabric.selectedObject">
				        <button class="btn btn-sm btn-warning pull-right" ng-click="deselectObject()">Deselect Object</button>
				    </div>
				</div>
			</div>

			<div class="col-md-12 margin-top-bottom image-builder" parent-click="fabric.deactivateAll()">
			    <div id="canvas-mobile" class="fabric-container">
			        <canvas fabric="fabric"></canvas>
			        <div id="qrcode"></div>
			    </div>
			</div>
		</section>
	</div>
</div>

<script type="text/ng-template" id="modalInsertPhoto.html">
    <div class="modal-header">
        <h3 class="modal-title">Insert Photo</h3>
    </div>
    <div class="modal-body">
    	<div id="mobile-photos" class="row">
			<div class="col-md-3 col-lg-3" ng-repeat="photo in mobile.photos">
				<i ng-if="photoIndex == $index" class="fa fa-check-circle-o" style="position: absolute; top: 40%; left: 40%; color: #3685C6;"></i>
				<img ng-src="http://dev.angularjs/_learn_/require-angular-banner-creator/images/upload/{{photo}}" width="90" height="90" class="img-circle" 
					style="opacity:{{ photoIndex == $index ? 0.5 : 1 }}"
					ng-click="selected($index)">
			</div>
		</div>
		<div class="row margin-top">
			<div class="col-md-3">
	      		<upload-image
					upload-image-class="btn-primary btn-block"
					upload-image-options="uploadOptions"
					ng-model="mobile.photos"></upload-image>
		  	</div>
      	</div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>
<script type="text/ng-template" id="modalSave.html">
    <div class="modal-header">
        <h3 class="modal-title"><i class="fa fa-cog"></i> Save Configuration</h3>
    </div>
    <div class="modal-body">
    	<div ng-show="loading.load" style="position: absolute;top: 40%;left: 40%;">
    		<wave-spinner></wave-spinner>
    		<label style="padding-top:25px">{{ loading.message }}</label>
    	</div>
    	<form style="opacity: {{ loading.load ? 0.5 : 1 }}">
    		<div class="form-group">
    			<label for="title">Name</label>
    			<input type="text" class="form-control" id="name" placeholder="Name of app" ng-model="data.title">
    		</div>
    		<div class="form-group">
    			<label for=""></label>
    			<img ng-src="{{data.image}}" width="200" />
    		</div>
    	</form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="save()" ng-disabled="loading.load">
        	<i class="fa fa-circle-o-notch fa-spin" ng-if="loading.load"></i> Save
        </button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>