<div class="modal-header">
    <h3 class="modal-title">Insert Photo</h3>
</div>
<div class="modal-body">
	<div id="mobile-photos" class="row">
		<div class="col-md-3 col-lg-3" ng-repeat="photo in mobile.photos">
			<i ng-if="photoIndex == $index" class="fa fa-check-circle-o" style="position: absolute; top: 40%; left: 40%; color: #3685C6;"></i>
			<img ng-src="http://dev.angularjs/_learn_/require-angular-banner-creator/images/upload/{{photo}}" width="90" height="90" class="img-circle" 
				style="opacity:{{ photoIndex == $index ? 0.5 : 1 }}"
				ng-click="selected($index)">
		</div>
	</div>
	<div class="row margin-top">
		<div class="col-md-3">
      		<upload-image
				upload-image-class="btn-primary btn-block"
				upload-image-options="uploadOptions"
				ng-model="mobile.photos"></upload-image>
	  	</div>
  	</div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>