<div class="form-horizontal margin-top-bottom">
    <div class="form-group" style="{{ dropdown.sizeIsOpen ? 'min-height:120px' : '' }}">
        <div class="col-xs-12">
            <div class="btn-group btn-block" dropdown is-open="dropdown.sizeIsOpen">
                <button type="button" class="btn btn-sm btn-block btn-primary dropdown-toggle">
                    {{ fabric.presetSize.name ? fabric.presetSize.name : 'Select poster size' }}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li ng-click='fabric.presetSize = size; fabric.setCanvasSize(size.width, size.height); fabric.setDirty(true); dropdown.sizeIsOpen = !dropdown.sizeIsOpen' ng-repeat='size in FabricConstants.presetSizes'><a>{{ size.name }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div ng-hide="!fabric.presetSize" class="well">
        <fieldset>
            <legend>Screenshot</legend>
            <div class="form-group">
                <label for="screenshot" class="col-md-12 control-label">Upload application screenshot</label>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 field-top">
                    <upload-image upload-image-class="btn-primary btn-block" upload-image-options="screenshotUploadOptions" ng-model="mobile.images.screenshot"></upload-image>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Application</legend>
            <div class="form-group">
                <label for="applcation-name" class="col-md-12 control-label">Application Name</label>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <input type="text" class="input-sm form-control" ng-model="mobile.text.app" ui-event="{
										focus:'fabric.setActiveObjectByName(\'app-name\')', 
										blur :'fabric.deactivateAll()'
									}" />
                </div>
            </div>
            <div class="form-group" ng-class="{
		 					 	'has-error'  : !mobile.qr.iphone.valid,
		 					 	'has-success': mobile.qr.iphone.valid
		 					 }">
                <label for="iphone-qr-url" class="col-md-12 control-label">Iphone QR URL</label>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <input type="url" name="iphone" class="input-sm form-control" ng-model="mobile.qr.iphone.url" ui-event="{ 
								   		focus: 'onFocusQR($event)', 
									   	keyup: 'onKeyUpQR($event)',
								   		blur : 'onBlurQR($event)' 
								   	}" ng-disabled="mobile.qr.iphone.loading" />
                    <wave-spinner ng-show="mobile.qr.iphone.loading"></wave-spinner>
                </div>
            </div>
            <div class="form-group" ng-class="{
		 					 	'has-error'  : !mobile.qr.android.valid,
		 					 	'has-success': mobile.qr.android.valid
		 					 }">
                <label for="android-qr-url" class="col-md-12 control-label">Android QR URL</label>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <input type="url" name="android" class="input-sm form-control" ng-model="mobile.qr.android.url" ui-event="{ 
								   		focus: 'onFocusQR($event)', 
									   	keyup: 'onKeyUpQR($event)',
								   		blur : 'onBlurQR($event)' 
								   	}" ng-disabled="mobile.qr.android.loading" />
                    <wave-spinner ng-show="mobile.qr.android.loading"></wave-spinner>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Testimonial</legend>
            <div class="form-group">
                <label for="testimoni-left" class="col-sm-12 col-md-6 control-label">Photo Left</label>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <button class="btn-block btn btn-sm btn-default" ng-click="getPhoto('left')">Select photo</button>
                </div>
            </div>
            <div class="form-group">
                <label for="testimoni-right" class="col-md-12 control-label">Testimoni Left</label>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <textarea rows="5" class="input-sm form-control" ng-model="mobile.text.left" ui-event="{
										focus:'fabric.setActiveObjectByName(\'testimoni-text-left\')', 
										blur :'fabric.deactivateAll()'
									}"></textarea>
                </div>
            </div>
            <hr/>
            <div class="form-group">
                <label for="testimoni-left" class="col-sm-12 col-md-6 control-label">Photo Right</label>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <button class="btn-block btn btn-sm btn-default" ng-click="getPhoto('right')">Select photo</button>
                </div>
            </div>
            <div class="form-group">
                <label for="testimoni-right" class="col-md-12 control-label">Testimoni Right</label>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <textarea rows="5" class="input-sm form-control" ng-model="mobile.text.right" ui-event="{
										focus:'fabric.setActiveObjectByName(\'testimoni-text-right\')', 
										blur :'fabric.deactivateAll()'
									}"></textarea>
                </div>
            </div>
        </fieldset>

        <!-- <div class="form-group">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <a class="btn btn-sm btn-default btn-block" ng-click="save()">
                    <i class="fa fa-save"></i> Save
                </a>
                <a class="btn btn-sm btn-block" ng-class="mobile.disable.generate ? 'btn-info' : 'btn-success'" ng-disabled="loading" ng-click="generatePoster('download-mobile')">
                    <i class="fa fa-gear"></i> Generate
                </a>
                <a id="download-mobile" class="btn btn-sm btn-block btn-success" ng-disabled="loading" ng-hide="mobile.disable.download">
                    <i class="fa fa-download"></i> Download
                </a>
                <wave-spinner ng-show="loading"></wave-spinner>
            </div>
        </div> -->
    </div>
</div>
