
<!-- button -->
<button type="button" class="btn btn-sm btn-block"
	style="{{ showEditor ? 'margin-top:15px' : '' }}" 
	ng-class="showEditor ? 'btn-primary' : 'btn-success' "
	ng-click="doSetting()">
	<i ng-class="showEditor ? 'fa fa-bars' : 'fa fa-gear' "></i> 
	{{ showEditor? 'Templates' : 'Settings' }}
</button>
<!-- settings -->
<div id="settings" class="margin-top-bottom" ng-class="animation.settings" ng-hide="!showEditor">
	<accordion close-others="accordion.closeOthers">
		<!-- Background -->
        <accordion-group heading="Background" is-open="accordion.isFirstOpen" class="panel-primary">
		   	<div class="form-horizontal">
			    <div class="form-group">
			      	<label for="inputLogo" class="col-md-12 control-label">Overlay</label>
				    <div class="col-md-12 field-top">
					    <div class="btn-group btn-block">
					    	<button class="btn btn-success btn-sm"
					    		ng-click="setBgOverlay(1)"
					    		ng-class="{'active': banner.config.background.overlay}">Yes</button>
					    	<button class="btn btn-success btn-sm"
					    		ng-click="setBgOverlay(0)"
					    		ng-class="{'active': !banner.config.background.overlay}">No</button>
					    </div>
				    </div>
			    </div>

			    <div class="form-group">
			      	<label for="inputLogo" class="col-md-12 control-label">Image</label>
				    <div class="col-md-12 field-top">
					    <div class="btn-group btn-block">
					    	<button class="col-md-3 btn btn-default btn-sm" 
					    		ng-click="setBgType(0)"
					    		ng-class="{'active':banner.config.background.type == 0}">Custom</button>
					    	<button class="col-md-3 btn btn-default btn-sm" 
					    		ng-repeat="(key, value) in templates.background[0]"
					    		ng-click="setBgType(key)"
					    		ng-class="{'active':banner.config.background.type == key}">{{key}}</button>
					    </div>
				    </div>
				    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 field-top" ng-show="banner.config.background.type == 0">
				    	<button type="button" class="btn btn-sm btn-block btn-success" ng-click="setRandomImage($event)">Random Image</button>
	                    <upload-image ng-model="banner.images.background"
	                    	upload-image-enable-crop="true" 
	                    	upload-image-class="btn-primary btn-block" 
	                    	upload-image-options="uploadOptions.background"></upload-image>
	                </div>
			    </div>

			    <div class="form-group">
			      	<label for="inputLogo" class="col-md-12 control-label">FB Logo</label>
				    <div class="btn-group col-md-12 btn-images field-top">
				        <button class="btn btn-default btn-sm col-md-4" style="background: transparent" 
				        	ng-repeat="img in templates.facebook"
				        	ng-class="{'active':banner.config.facebook.type == $index}"
				        	ng-click="setFbType($index)">
				        	<img ng-src="{{img}}" width="100%">
				        </button>
				    </div>
			    </div>
			</div>
        </accordion-group>

        <!-- Logo -->
        <accordion-group heading="Logo" class="panel-primary">
            <div class="form-horizontal">
			    <div class="form-group">
			      	<label class="col-md-3 control-label">Enable</label>
			    	<div class="col-md-8">
			            <div class="btn-group">
					        <button class="btn btn-success btn-sm" 
					        	ng-class="{'active':banner.config.logo.enable}"
					        	ng-click="setLogoEnable(true)"> On
					        </button>
					        <button class="btn btn-success btn-sm" 
					        	ng-class="{'active':!banner.config.logo.enable}"
					        	ng-click="setLogoEnable(false)"> Off
					        </button>
					    </div>
					</div>
			    </div>
			    <div class="form-group" ng-show="banner.config.logo.enable">
			      	<label for="inputLogo" class="col-md-3 control-label">Upload</label>
			      	<div class="col-md-8">
	                    <upload-image ng-model="banner.images.logo"
	                    	upload-image-enable-crop="true" 
	                    	upload-image-class="btn-primary btn-block" 
	                    	upload-image-options="uploadOptions.logo"></upload-image>
			      	</div>
			    </div>
			</div>
        </accordion-group>

        <!-- Badge -->
        <accordion-group heading="Bagde" class="panel-primary">
		    <div class="btn-group">
		        <button class="btn btn-success btn-sm" 
		        	ng-class="{'active':banner.config.badge.enable}"
		        	ng-click="setBadgeEnable(true)"> On
		        </button>
		        <button class="btn btn-success btn-sm" 
		        	ng-class="{'active':!banner.config.badge.enable}"
		        	ng-click="setBadgeEnable(false)"> Off
		        </button>
		    </div>
		    <div class="field-top btn-group btn-images field-top" ng-show="banner.config.badge.enable">
		        <button class="btn btn-default btn-sm col-md-3" style="background: transparent" 
		        	ng-repeat="img in templates.badges"
		        	ng-class="{'active':banner.config.badge.type == $index}"
		        	ng-click="setBadgeType($index)">
		        	<img ng-src="{{img}}" width="100%">
		        </button>
		    </div>
        </accordion-group>

        <!-- Prizes -->
        <accordion-group heading="Prizes" class="panel-primary" ng-hide="banner.config.prize.type == 0">
		    <div class="form-horizontal">
		    	<div class="form-group" ng-show="banner.config.prize.type >= 1">
		    		<label class="col-md-5 control-label">Prize 1</label>
		    		<div class="col-md-7">
		    			<upload-image ng-model="banner.images.prize[1]"
	                    	upload-image-enable-crop="true" 
	                    	upload-image-class="btn-primary btn-block" 
	                    	upload-image-options="uploadOptions.prize[1]"></upload-image>
		    		</div>
		    	</div>
		    	<div class="form-group" ng-show="banner.config.prize.type >= 2">
		    		<label class="col-md-5 control-label">Prize 2</label>
		    		<div class="col-md-7">
		    			<upload-image ng-model="banner.images.prize[2]"
	                    	upload-image-enable-crop="true" 
	                    	upload-image-class="btn-primary btn-block" 
	                    	upload-image-options="uploadOptions.prize[2]"></upload-image>
	    			</div>
		    	</div>
		    	<div class="form-group" ng-show="banner.config.prize.type >= 3">
		    		<label class="col-md-5 control-label">Prize 3</label>
		    		<div class="col-md-7">
		    			<upload-image ng-model="banner.images.prize[3]"
	                    	upload-image-enable-crop="true" 
	                    	upload-image-class="btn-primary btn-block" 
	                    	upload-image-options="uploadOptions.prize[3]"></upload-image>
	    			</div>
		    	</div>
		    </div>
        </accordion-group>

        <!-- Text -->
        <accordion-group heading="Text" class="panel-primary">
            <div class="form-group">
			    <label for="textTitle">Contest Title</label>
			    <textarea class="form-control input-sm" id="textDescription" placeholder="Enter contest title" 
			    	msd-elastic="\n"
			    	ng-model="banner.text.contest.title"></textarea>
			    <!-- <input type="text" class="form-control input-sm" id="textTitle" placeholder="Enter contest title" tooltip="Add a new line by comma" ng-model="banner.text.contest.title"> -->
		  	</div>
		  	<div class="form-group">
			    <label for="textDescription">Contest Description</label>
			    <textarea class="form-control input-sm" id="textDescription" placeholder="Enter contest description" 
			    	msd-elastic="\n"
			    	ng-model="banner.text.contest.description"></textarea>
		  	</div>

		  	<!-- <div ng-if="banner.config.prize.type > 0"> -->
		  	<div>
	            <!-- <div class="form-group">
				    <label for="textTitle">Prize Header Title</label>
				    <input type="text" class="form-control input-sm" id="textTitle" placeholder="Enter prize header title"
				    	ng-model="banner.text.prize.header.title">
			  	</div>
	            <div class="form-group">
				    <label for="textTitle">Prize Header Description</label>
				    <input type="text" class="form-control input-sm" id="textTitle" placeholder="Enter prize header description"
				    	ng-model="banner.text.prize.header.description">
			  	</div> -->
			  	<div class="form-group">
				    <label for="textPrizeDescription-1">Prize 1</label>
				    <textarea class="form-control input-sm" id="textPrizeDescription-1" placeholder="Enter prize 1 description"
				    	ng-model="banner.text.prize.content[1]"></textarea>
			  	</div>
			  	<div class="form-group">
				    <label for="textPrizeDescription-2">Prize 2</label>
				    <textarea class="form-control input-sm" id="textPrizeDescription-2" placeholder="Enter prize 2 description"
				    	ng-model="banner.text.prize.content[2]"></textarea>
			  	</div>
			  	<div class="form-group">
				    <label for="textPrizeDescription-3">Prize 3</label>
				    <textarea class="form-control input-sm" id="textPrizeDescription-3" placeholder="Enter prize 3 description"
				    	ng-model="banner.text.prize.content[3]"></textarea>
			  	</div>
		  	</div>
        </accordion-group>
    </accordion>
</div>