<div class="container">
    <div class="row">
        <datalist id="colors">
            <option>#ffffff</option>
            <option>#000000</option>
            <option>#95a5a6</option>
            <option>#1a242f</option>
            <option>#128f76</option>
            <option>#128f76</option>
            <option>#3498db</option>
            <option>#f39c12</option>
            <option>#e74c3c</option>
        </datalist>
        <!-- <div class="col-lg-12">
            <h3>{{ menus.top.model.name }}</h3>
        </div> -->
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <legend>General</legend>
            <div class="form-group">
                <label>Font Family</label>
                <div class="row">
                    <jd-fontselect stack="menus.top.model.font.family" class="col-md-10" style="margin-left:15px; padding:0; border-radius:5px;"></jd-fontselect>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-12">
                      <label>Font Color</label>
                    </div>
                    <div class="col-md-4">
                        <input type="color" ng-model="menus.top.model.font.color" list="colors" class="ng-pristine ng-valid">
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="col-md-6 input-sm ng-pristine ng-valid" ng-model="menus.top.model.font.color" style="color:black">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <legend>Placeholder</legend>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label for="hide-placeholder">Hide</label>
                        <input type="checkbox" id="hide-placeholder" ng-model="menus.top.model.placeholder.hide">
                    </div>
                    <div class="col-md-6">
                        <label>Fill</label>
                        <input type="color" style="margin-left: 5px;" ng-model="menus.top.model.placeholder.fill" ng-disabled="menus.top.model.placeholder.hide" list="colors">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Fill Opacity</label>
                <div class="row">
                    <div class="col-lg-8">
                        <input type="range" min="0" max="1" step="0.1" ng-model="menus.top.model.placeholder.opacity" ng-disabled="menus.top.model.placeholder.hide">
                    </div>
                    <div class="col-lg-4">
                        <input type="text" class="form-control input-sm" ng-model="menus.top.model.placeholder.opacity" ng-disabled="menus.top.model.placeholder.hide">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label for="hide-placeholder">No Stroke</label>
                        <input type="checkbox" id="hide-placeholder" ng-model="menus.top.model.placeholder.nostroke" ng-disabled="menus.top.model.placeholder.hide">
                    </div>
                    <div class="col-md-6">
                        <label>Stroke</label>
                        <input type="color" style="width:60px;margin-left:5px;" ng-model="menus.top.model.placeholder.strokeColor" ng-disabled="menus.top.model.placeholder.nostroke || menus.top.model.placeholder.hide" list="colors">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Stroke Width</label>
                <div class="row">
                    <div class="col-lg-8">
                        <input type="range" min="1" max="10" ng-model="menus.top.model.placeholder.strokeWidth" ng-disabled="menus.top.model.placeholder.nostroke || menus.top.model.placeholder.hide">
                    </div>
                    <div class="col-lg-4">
                        <input type="text" class="form-control input-sm" ng-model="menus.top.model.placeholder.strokeWidth" ng-disabled="menus.top.model.placeholder.nostroke || menus.top.model.placeholder.hide">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" ng-class="{'col-disabled' : !menus.top.model.font.header.size}">
            <legend>Title</legend>
            <div class="form-group">
                <label for="y">Font Size</label>
                <div class="row">
                    <div class="col-lg-9">
                        <input type="range" min="8" max="32" ng-model="menus.top.model.font.header.size" ng-disabled="!menus.top.model.font.header.size">
                    </div>
                    <div class="col-lg-3">
                        <input type="text" class="form-control input-sm" ng-model="menus.top.model.font.header.size" ng-disabled="!menus.top.model.font.header.size">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="y">Line Height</label>
                <div class="row">
                    <div class="col-lg-9">
                        <input type="range" min="8" max="64" ng-model="menus.top.model.font.header.line" ng-disabled="!menus.top.model.font.header.line ">
                    </div>
                    <div class="col-lg-3">
                        <input type="text" class="form-control input-sm" ng-model="menus.top.model.font.header.line" ng-disabled="!menus.top.model.font.header.line ">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <legend>Description</legend>
            <div class="form-group">
                <label for="y">Font Size</label>
                <div class="row">
                    <div class="col-lg-9">
                        <input type="range" min="8" max="32" ng-model="menus.top.model.font.description.size">
                    </div>
                    <div class="col-lg-3">
                        <input type="text" class="form-control input-sm" ng-model="menus.top.model.font.description.size">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="y">Line Height</label>
                <div class="row">
                    <div class="col-lg-9">
                        <input type="range" min="8" max="64" ng-model="menus.top.model.font.description.line">
                    </div>
                    <div class="col-lg-3">
                        <input type="text" class="form-control input-sm" ng-model="menus.top.model.font.description.line">
                    </div>
                </div>
            </div>
            <div class="form-group" ng-hide="!menus.top.model.placeholder.y">
                <label for="y">YAxis</label>
                <div class="row">
                    <div class="col-lg-9">
                        <input type="range" min="{{menus.top.model.placeholder.y.min}}" max="{{menus.top.model.placeholder.y.max}}" ng-model="menus.top.model.placeholder.y.value">
                    </div>
                    <div class="col-lg-3">
                        <input type="text" class="form-control input-sm" ng-model="menus.top.model.placeholder.y.value">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
