<!-- fabric settings -->
<div ng-include="'views/fabric-editor-settings.html'"></div>

<!-- zoom -->
<div class="margin-top-bottom">
    <div class='col-xs-1 text-center'>
        <i class='fa fa-search-minus pull-left'></i>
    </div>
    <div class='col-xs-10'>
        <input type='range' class='pull-left' min='.1' max='2' step='.1' tooltip="{{fabric.canvasScale}}" ng-change='fabric.setZoom()' ng-model='fabric.canvasScale' />
    </div>
    <div class='col-xs-1 text-center'>
        <i class='fa fa-search-plus'></i>
	</div>
</div>

<!-- tab content -->
<div class="tab-content text-center">
 	<div class="tab-pane" id="0-prize">
	    <img src="http://placehold.it/810x381&text=Template+Empty+Prize">
	</div>
	<div class="tab-pane active" id="1-1prize">
	    <div class="col-xs-12 col-md-12 margin-top-bottom image-builder" ng-init="bannerShow1 = 2">
			<div class="btn-group" style="position: absolute; left: 0;">
				<button type="button" class="btn btn-sm btn-default" ng-class="{'active': bannerShow1 == 1}" ng-click="bannerShow1 = 1">Like</button>
				<button type="button" class="btn btn-sm btn-default" ng-class="{'active': bannerShow1 == 2}" ng-click="bannerShow1 = 2">Both</button>
				<button type="button" class="btn btn-sm btn-default" ng-class="{'active': bannerShow1 == 3}" ng-click="bannerShow1 = 3">Enter</button>
			</div>
			<h3 class="text-center" style="margin-top:5px; margin-bottom: 0">Template 1</h3>
			<div class="btn-group" style="position: absolute; top:0; right: 0;" ng-show="fullEditor">
				<toggle-switch ng-model="banner.config.background.overlay" knob-label="Overlay"></toggle-switch>
			</div>

		    <div id="canvas-banner" class="fabric-container" ng-show="bannerShow1 == 2 || bannerShow1 == 1">
		        <canvas fabric="fabric" template="1"></canvas>
		    </div>
		    <div id="canvas-banner" class="fabric-container" ng-show="bannerShow1 == 2 || bannerShow1 == 3">
		        <canvas fabric="fabricEnter" template="1"></canvas>
		    </div>
		</div>
	</div>
	<div class="tab-pane" id="1-2prizes">
	    <div class="col-xs-12 col-md-12 margin-top-bottom image-builder" ng-init="bannerShow2 = 2">
			<div class="btn-group" style="position: absolute; left: 0;">
				<button type="button" class="btn btn-sm btn-default" ng-class="{'active': bannerShow2 == 1}" ng-click="bannerShow2 = 1">Like</button>
				<button type="button" class="btn btn-sm btn-default" ng-class="{'active': bannerShow2 == 2}" ng-click="bannerShow2 = 2">Both</button>
				<button type="button" class="btn btn-sm btn-default" ng-class="{'active': bannerShow2 == 3}" ng-click="bannerShow2 = 3">Enter</button>
			</div>
			<h3 class="text-center" style="margin-top:5px; margin-bottom: 0">Template 2</h3>
			<div class="btn-group" style="position: absolute; top:0; right: 0;" ng-show="fullEditor">
				<toggle-switch ng-model="banner.config.background.overlay" knob-label="Overlay"></toggle-switch>
			</div>

		    <div id="canvas-banner" class="fabric-container" ng-show="bannerShow2 == 2 || bannerShow2 == 1">
		        <canvas fabric="fabric1" template="2"></canvas>
		    </div>
		    <div id="canvas-banner" class="fabric-container" ng-show="bannerShow2 == 2 || bannerShow2 == 3">
		        <canvas fabric="fabricEnter1" template="2"></canvas>
		    </div>
		</div>
	</div>
	<div class="tab-pane" id="1-3prizes">
	    <div class="col-xs-12 col-md-12 margin-top-bottom image-builder" ng-init="bannerShow3 = 2">
			<div class="btn-group" style="position: absolute; left: 0;">
				<button type="button" class="btn btn-sm btn-default" ng-class="{'active': bannerShow3 == 1}" ng-click="bannerShow3 = 1">Like</button>
				<button type="button" class="btn btn-sm btn-default" ng-class="{'active': bannerShow3 == 2}" ng-click="bannerShow3 = 2">Both</button>
				<button type="button" class="btn btn-sm btn-default" ng-class="{'active': bannerShow3 == 3}" ng-click="bannerShow3 = 3">Enter</button>
			</div>
			<h3 class="text-center" style="margin-top:5px; margin-bottom: 0">Template 3</h3>
			<div class="btn-group" style="position: absolute; top:0; right: 0;" ng-show="fullEditor">
				<toggle-switch ng-model="banner.config.background.overlay" knob-label="Overlay"></toggle-switch>
			</div>

		    <div id="canvas-banner" class="fabric-container" ng-show="bannerShow3 == 2 || bannerShow3 == 1">
		        <canvas fabric="fabric2" template="3"></canvas>
		    </div>
		    <div id="canvas-banner" class="fabric-container">
		        <canvas fabric="fabricEnter2" template="3" ng-show="bannerShow3 == 2 || bannerShow3 == 3"></canvas>
		    </div>
		</div>
	</div>
	<div class="tab-pane" id="2-1prize">
	    <img src="http://placehold.it/810x381&text=Template+2-1+Prize">
	</div>
	<div class="tab-pane" id="2-2prizes">
	    <img src="http://placehold.it/810x381&text=Template+2-2+Prizes">
	</div>
	<div class="tab-pane" id="2-3prizes">
	    <img src="http://placehold.it/810x381&text=Template+2-3+Prize">
	</div>
</div>

<!-- JSON -->
<div class="row margin-top-bottom" ng-show="fullEditor">
	<div class="col-md-12">
		<div class="form-group" ng-init="dropdownIsOpen = false">
			<div class="btn-group" dropdown is-open="dropdownIsOpen">
		      <button type="button btn-sm btn-success btn-block" class="btn btn-primary dropdown-toggle">
		        Get JSON <span class="caret"></span>
		      </button>
		      <ul class="dropdown-menu" role="menu">
				    <li>
				        <a href ng-click="doGetJSON(); dropdownIsOpen = false;">All</a>
				    </li>
		        	<li class="divider"></li>
				    <li ng-repeat="object in fabric.getObjects()">
				        <a href ng-click="doGetJSON($index); dropdownIsOpen = false;">{{object.name}}</a>
				    </li>
		      </ul>
		    </div>
		</div>
		<div class="form-group">
			<textarea class="input-sm form-control" rows="10">{{outputJSONObject | json}}</textarea>
		</div>
	</div>
</div>
