<style>
	hr { margin-top: 0; }
	.field-top {
		padding-top: 10px;
	}
	.field-bottom {
		padding-bottom: 10px;
	}
	.field-top-bottom {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.image-builder-container {
	    position: relative;
	}
	.image-builder {
	    background: rgb(236, 240, 241);
	    box-sizing: border-box;
	    border: 1px solid #cacaca;
	    min-height: 500px;
	    text-align: center;
	    position: relative;
	    overflow-x: scroll;
	    overflow-y: hidden;
	    width: 100%;
	}
	.image-cover {
	    left: 0;
	    right: 0;
	    bottom: 0;
	    top: 0;
	    position: absolute;
	    z-index: 2;
	}
	.fabric-container {
	    background: white;
	    border-radius: 1px;
	    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, .4);
	    display: inline-block;
	    margin: 50px 50px 0;
	    position: relative;
	    vertical-align: middle;
	    z-index: 0;
	}
	.fabric-container:last-child {
	    margin-bottom: 50px;
	}

	.wave-spinner {
		position: absolute;
		top: 1px;
		left: 38%;
		z-index: 1;
		margin: 0 !important;
	}
</style>
<div class="page-header">
	<div class="row">
		<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
			<ol class="breadcrumb bg-white">
			  <li><a href="#" class="text-primary">Home</a></li>
			  <li><a href="#" class="text-primary" disabled>Facebook</a></li>
			  <li class="text-primary active">{{title}}</li>
			</ol>
		</div>
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
			<div class="pull-right">
				<toggle-switch
				    ng-model="fullEditor"
				    knob-label="Editor">
				<toggle-switch>
			</div>
			<!-- <div class="btn-group pull-right">
				<button type="button" class="btn btn-sm btn-primary" ng-click="fullEditor = true" ng-class="{'active': fullEditor}">On</button>
				<button type="button" class="btn btn-sm btn-primary" ng-click="fullEditor = false" ng-class="{'active': !fullEditor}">Off</button>
			</div> -->
		</div>
	</div>
	<hr>
	<div class="row">
		<aside id="setting-template" class="col-xs-3 col-sm-3 col-md-3 col-lg-3" ng-hide="fullEditor">
			<!-- templates -->
			<div id="templates" ng-class="animation.templates" ng-hide="showEditor">
				<h4 style="margin-left:15px">Default Templates</h4>
				<div class="tabbable tabs-left">
					<ul class="margin-top-bottom nav nav-tabs col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<li class="active"><a href="#0-prize" data-toggle="tab" data-prize="0">Template Empty Prize</a></li>
						<li><a href="#1-1prize" data-toggle="tab" data-prize="1">Template 1 - 1 Prize</a></li>
						<li><a href="#1-2prizes" data-toggle="tab" data-prize="2">Template 1 - 2 Prizes</a></li>
						<li><a href="#1-3prizes" data-toggle="tab" data-prize="3">Template 1 - 3 Prizes</a></li>
						<li><a href="#2-1prize" data-toggle="tab" data-prize="1">Template 2 - 1 Prize</a></li>
						<li><a href="#2-2prizes" data-toggle="tab" data-prize="2">Template 2 - 2 Prizes</a></li>
						<li><a href="#2-3prizes" data-toggle="tab" data-prize="3">Template 2 - 3 Prizes</a></li>
					</ul>
				</div>
			</div>
			<div ng-include="'views/banner-settings.html'"></div>
		</aside>
		<section id="editor" ng-class="{'col-xs-9 col-sm-9 col-md-9 col-lg-9':!fullEditor, 'col-xs-12 col-sm-12 col-md-12 col-lg-12':fullEditor}">
			<div ng-include="'views/banner-editor.html'"></div>
		</section>
	</div>
	<div class="row">
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" ng-hide="!showEditor || fullEditor">
			<div class="btn-group btn-block">
				<button type="button" class="btn col-lg-10 btn-sm btn-success" ng-click="doGenerate()"><i class="fa fa-gear"></i> Generate Image</button>
				<button type="button" class="btn col-lg-2 btn-sm btn-success dropdown-toggle" data-toggle="dropdown">
					<span class="caret"></span>
					<span class="sr-only">Toggle Dropdown</span>
				</button>
				<ul class="dropdown-menu col-lg-12" role="menu">
					<li><a href="#">Generate Image & Save</a></li>
				</ul>
		    </div>
		</div>
	</div>
</div>
