<div class="page-header">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<ol class="breadcrumb bg-white">
			  <li><a href="#" class="text-primary">Home</a></li>
			  <li><a href="#" class="text-primary" disabled>Facebook Template</a></li>
			  <li class="text-primary active">Empty Prize</li>
			</ol>
		</div>
	</div>
	<hr>
	<div class="row">
		<aside class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
			<div id="templates" ng-class="animation.templates" ng-hide="showEditor">
				<h4 style="margin-left:15px">Default Templates</h4>
				<div class="tabbable tabs-left">
					<ul class="margin-top-bottom nav nav-tabs col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<li class="active"><a href="#0-prize" data-toggle="tab">Template Empty Prize</a></li>
						<li><a href="#1-1prize" data-toggle="tab">Template 1 - 1 Prize</a></li>
						<li><a href="#1-2prizes" data-toggle="tab">Template 1 - 2 Prizes</a></li>
						<li><a href="#1-3prizes" data-toggle="tab">Template 1 - 3 Prizes</a></li>
						<li><a href="#2-1prize" data-toggle="tab">Template 2 - 1 Prize</a></li>
						<li><a href="#2-2prizes" data-toggle="tab">Template 2 - 2 Prizes</a></li>
						<li><a href="#2-3prizes" data-toggle="tab">Template 2 - 3 Prizes</a></li>
					</ul>
				</div>
			</div>
			<button type="button" class="btn btn-sm btn-block"
				ng-class="showEditor ? 'btn-primary' : 'btn-success' "
				ng-click="showEditor = !showEditor">
				<i ng-class="showEditor ? 'fa fa-bars' : 'fa fa-gear' "></i> 
				{{ showEditor? 'Templates' : 'Settings' }}
			</button>
			<div id="settings" class="margin-top-bottom" ng-class="animation.settings" ng-hide="!showEditor">
				<accordion close-others="settings.oneAtATime">
			        <accordion-group heading="Background" is-open="settings.isFirstOpen" class="panel-primary">
					   	<div class="form-horizontal">
						    <div class="form-group">
						      	<label for="inputLogo" class="col-md-4">Type</label>
						    </div>
						    <div class="form-group">
							    <div class="btn-group col-md-12">
								    <div class="btn-group">
								        <label class="btn btn-default btn-sm" ng-model="background.type" btn-radio="'Upload'" uncheckable>Upload</label>
								        <label class="btn btn-default btn-sm" ng-model="background.type" btn-radio="'Feris'" uncheckable>Feris</label>
								        <label class="btn btn-default btn-sm" ng-model="background.type" btn-radio="'Grass'" uncheckable>Grass</label>
								        <label class="btn btn-default btn-sm" ng-model="background.type" btn-radio="'Young'" uncheckable>Young</label>
								    </div>
							    </div>
						    </div>

						    <div class="form-group">
						      	<label for="inputLogo" class="col-md-4">Overlay</label>
						    </div>
						    <div class="form-group">
							    <div class="btn-group col-md-12">
								    <div class="btn-group">
								        <label class="btn btn-default btn-sm" ng-model="background.overlay" btn-radio="'yes'" uncheckable>Yes</label>
								        <label class="btn btn-default btn-sm" ng-model="background.overlay" btn-radio="'no'" uncheckable>No</label>
								    </div>
							    </div>
						    </div>

						    <div class="form-group">
						      	<label for="inputLogo" class="col-md-4">FB Logo</label>
						    </div>
						    <div class="form-group">
							    <div class="btn-group col-md-12">
							        <button class="btn btn-default btn-sm col-md-4" 
							        	ng-repeat="img in background.fb.images"
							        	ng-class="{'active':background.fb.selected == $index}"
							        	ng-click="setFbLogo($index)">
							        	<img ng-src="{{img}}" width="100%">
							        </button>
							    </div>
						    </div>

						    <div class="form-group">
						      	<label for="inputLogo" class="col-md-3">FB Size</label>
						      	<div class="col-md-5">
						            <input type="number" class="form-control input-sm" value="120">
						        </div>
						        <div class="col-md-4">
						             <input type="number" class="form-control input-sm" value="120" disabled="disabled">
						        </div>
						    </div>
						</div>
			        </accordion-group>
			        <accordion-group heading="Logo" class="panel-primary">
			            <div class="form-horizontal">
						    <div class="form-group">
						      	<label class="col-md-3 control-label">Hide</label>
						    	<div class="col-md-8">
						            <div class="checkbox">
									    <input type="checkbox" value="">
									</div>
								</div>
						    </div>
						    <div class="form-group">
						      	<label for="inputLogo" class="col-md-3 control-label">Upload</label>
						      	<div class="col-md-8">
						        	<button class="btn btn-primary btn-sm">Select an image</button>
						      	</div>
						    </div>
						    <div class="form-group">
						      	<label for="inputLogo" class="col-md-3 control-label">Size</label>
						      	<div class="col-md-5">
						            <input type="number" class="form-control input-sm" value="120">
						        </div>
						        <div class="col-md-4">
						             <input type="number" class="form-control input-sm" value="120" disabled="disabled">
						        </div>
						    </div>
						</div>
			        </accordion-group>
			        <accordion-group heading="Bagde" class="panel-primary">
					    <div class="btn-group">
					        <button class="btn btn-default btn-sm col-md-3" 
					        	ng-repeat="img in background.badge.images"
					        	ng-class="{'active':background.badge.selected == $index}"
					        	ng-click="setBadge($index)">
					        	<img ng-src="{{img}}" width="100%">
					        </button>
					    </div>
			        </accordion-group>
			        <accordion-group heading="Text" class="panel-primary">
			            <div class="form-group">
						    <label for="textTitle">Title</label>
						    <input type="email" class="form-control input-sm" id="textTitle" placeholder="Enter title">
						    <p class="help-block text-right">Limit: 100/100</p>
					  	</div>
					  	<div class="form-group">
						    <label for="textDescription">Description</label>
						    <textarea class="form-control input-sm" id="textDescription" placeholder="Description"></textarea>
						    <p class="help-block text-right">Limit: 100/100</p>
					  	</div>
			        </accordion-group>
			    </accordion>
				
				    <div class="btn-group btn-block">
				      <button type="button" class="btn col-lg-10 btn-sm btn-success"><i class="fa fa-gear"></i> Generate Image</button>
				      <button type="button" class="btn col-lg-2 btn-sm btn-success dropdown-toggle" data-toggle="dropdown">
				        <span class="caret"></span>
				        <span class="sr-only">Toggle Dropdown</span>
				      </button>
				      <ul class="dropdown-menu col-lg-12" role="menu">
				        <li><a href="#">Generate Image & Save</a></li>
				      </ul>
				    </div>
			</div>
		</aside>
		<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
			<div class="tab-content margin-top-bottom text-center">
	         	<div class="tab-pane active" id="empty-prize"><img src="http://placehold.it/810x381&text=Template+Empty+Prize"></div>
	         	<div class="tab-pane" id="1-1prize"><img src="http://placehold.it/810x381&text=Template+1-1+Prize"></div>
	         	<div class="tab-pane" id="1-2prizes"><img src="http://placehold.it/810x381&text=Template+1-2+Prizes"></div>
	         	<div class="tab-pane" id="1-2prizes"><img src="http://placehold.it/810x381&text=Template+1-3+Prizes"></div>
	         	<div class="tab-pane" id="2-1prize"><img src="http://placehold.it/810x381&text=Template+2-1+Prize"></div>
	         	<div class="tab-pane" id="2-1prizes"><img src="http://placehold.it/810x381&text=Template+2-2+Prizes"></div>
	         	<div class="tab-pane" id="2-3prizes"><img src="http://placehold.it/810x381&text=Template+2-3+Prize"></div>
	        </div>
		</div>
	</div>
</div>
