<style>
	.row {
	    padding: 10px 0;
	}
	.image-builder-container {
	    position: relative;
	}
	.image-builder {
	    background: #cacaca;
	    box-sizing: border-box;
	    border: 1px solid #cacaca;
	    min-height: 460px;
	    text-align: center;
	    position: relative;
	    overflow-x: scroll;
	    overflow-y: hidden;
	    width: auto;
	}
	.image-cover {
	    left: 0;
	    right: 0;
	    bottom: 0;
	    top: 0;
	    position: absolute;
	    z-index: 2;
	}
	.fabric-container {
	    background: white;
	    border-radius: 1px;
	    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, .4);
	    display: inline-block;
	    margin: 50px;
	    position: relative;
	    vertical-align: middle;
	    z-index: 0;
	}
	.image-loading {
	    background: rgba(255, 255, 255, .4);
	    position: absolute;
	    top: 0;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    z-index: 1;
	}
	.loading-indicator {
	    background: white;
	    background-image: url(/images/squareLoader.gif);
	    background-repeat: no-repeat;
	    background-position: center;
	    border-radius: 10px;
	    box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
	    margin: 300px auto 0;
	    height: 160px;
	    width: 160px;
	}
	.object-controls-container {
	    position: relative;
	}
	.object-controls {
	    position: absolute;
	    z-index: 1;
	    background: white;
	    left: -250px;
	    top: 0px;
	    padding: 5px;
	    width: 240px;
	}
	textarea {
	    font-size: 12px;
	}
	.object-font-family-preview {
	    text-transform: capitalize;
	}

	.double-bounce-spinner, .wave-spinner {
		display: none;
		margin: 0 !important;
		position: absolute; 
		left: 40%;
		top: 8px;
	}
	.load-qr input {
		opacity: .3;
	}
	.load-qr .double-bounce-spinner, .load-qr .wave-spinner {
		display: block;
	}

	.ui-scrollfix {
		position: fixed;
	}
</style>
<div class="row">
    <div class='image-builder-container'>
        <div ng-if="fabric.isLoading()" class="image-loading">
            <double-bounce-spinner class="spinkit" style="width:100%"></double-bounce-spinner>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <small>
                    <em class='text-muted'>Image and shape do not work due to codepen cross-origin.</em>
                </small>
                <p/>
                <div class='btn-group pull-left mrm'>
                    <button ng-disabled="!fabric.selectedObject" ng-click="fabric.deleteActiveObject(); fabric.setDirty(true)" class='btn btn-danger'>
                        <i class='fa fa-trash-o'></i>
                        <div class='clearfix'></div>
                        Delete
                    </button>

                    <button ng-click='addImage()' class='btn btn-default'>
                        <i class='fa fa-image'></i>
                        <div class='clearfix'></div>
                        Image
                    </button>

                    <button ng-click="fabric.addText()" class='btn btn-default'>
                        <i class='fa fa-font'></i>
                        <div class='clearfix'></div>
                        &nbsp; Text &nbsp;
                    </button>

                    <button ng-click='addShape()' class='btn btn-default'>
                        <i class='fa fa-star'></i>
                        <div class='clearfix'></div>
                        Shapes
                    </button>

                    <button ng-click='addGroup()' class='btn btn-default'>
                        <i class='fa fa-group'></i>
                        <div class='clearfix'></div>
                        Group
                    </button>
                    <button ng-click='addCircle()' class='btn btn-default'>
                        <i class='fa fa-circle'></i>
                        <div class='clearfix'></div>
                        Cirlce
                    </button>

                    <button ng-click='fabric.addSquare()' class='btn btn-default'>
                        <i class='fa fa-square'></i>
                        <div class='clearfix'></div>
                        Square
                    </button>

                    <button ng-click='addRect()' class='btn btn-default'>
                        <i class='fa fa-square'></i>
                        <div class='clearfix'></div>
                        Rect
                    </button>

                    <button ng-click='addQRCode()' class='btn btn-default'>
                        <i class='fa fa-star'></i>
                        <div class='clearfix'></div>
                        QR
                    </button>

                    <button ng-click="fabric.clearCanvas(); fabric.setDirty(true)" class='btn btn-default'>
                        <i class='fa fa-refresh'></i>
                        <div class='clearfix'></div>
                        Restart
                    </button>
                </div>

                <div class='pull-left' style='margin: 0 0 0 10px;'>
                    <div class='row' style="padding-bottom:0">
                        <div class='col-xs-1 text-center'>
                            <i class='fa fa-search-minus pull-left'></i>
                        </div>
                        <div class='col-xs-9'>
                            <input type='range' class='pull-left' min='.1' max='3' step='.1' ng-change='fabric.setZoom()' ng-model='fabric.canvasScale' />
                        </div>
                        <div class='col-xs-1 text-center'>
                            <i class='fa fa-search-plus'></i>
                        </div>
                    </div>
                    <div class="row" style="padding-top:5px">
                    	<div class="col-xs-offset-1 col-xs-8">
                        	<input type="number" class="col-xs-12" min='.1' max='3' step='.1' ng-model="fabric.canvasScale">
                    	</div>
                        <div class='col-xs-3'>
                            <button class='btn btn-xs' ng-click="fabric.resetZoom()">
                                Reset
                            </button>
                        </div>
                    </div>
                </div>

                <div class="pull-right">
                    <button class='btn btn-default' title='Dummy button.  This is where you would take the json from the canvas and save it to your database.'>
                        <i class='fa fa-save'></i>
                        <div class='clearfix'></div>
                        Save
                        <span ng-show='fabric.isDirty()' class='text-danger'>*</span>
                    </button>

                    <button ng-click="fabric.download('myCanvas')" class='btn btn-success'>
                        <i class='fa fa-download'></i>
                        <div class='clearfix'></div>
                        Download
                    </button>
                </div>
            </div>
        </div>

        <div class='row' ng-show='showDimension'>
            <div class='col-sm-offset-5'>
                <form class="col-sm-4" ng-submit='submitRect()'>
                    <div class='form-group'>
                        <label>Width</label>
                        <input type='number' ng-model='rectDimension.width' class='form-control' />
                    </div>

                    <div class='form-group'>
                        <label>Height</label>
                        <input type='number' ng-model='rectDimension.height' class='form-control' />
                    </div>

                    <button type='submit' class='btn btn-success'>
                        Submit
                    </button>
                    <button type="button" class="btn btn-danger" ng-click="showDimension = false">Close</button>
                </form>
            </div>
        </div>

        <p/>

        <div class="row">
            <div class="col-xs-4">
                <label>Background Color</label>
                <input type="text" class='form-control' ng-change='fabric.setDirty(true); fabric.stopContinuousRendering()' ng-model="fabric.canvasBackgroundColor" />
            </div>

            <div class='col-xs-4'>
                <label>Canvas Size</label>
                <p/>
                <button ng-hide='canvasCopy' class='btn btn-default btn-block mrm' ng-click='selectCanvas()'>
                    {{ fabric.canvasOriginalWidth }} x {{ fabric.canvasOriginalHeight }}
                </button>

                <div class='row' ng-show='canvasCopy'>
                    <div class='col-xs-12'>
                        <form ng-submit='setCanvasSize()'>
                            <div class='form-group'>
                                <label>Width</label>
                                <input type='text' ng-model='canvasCopy.width' class='form-control' />
                            </div>

                            <div class='form-group'>
                                <label>Height</label>
                                <input type='text' ng-model='canvasCopy.height' class='form-control' />
                            </div>

                            <button type='submit' class='btn btn-success'>
                                Submit
                            </button>
                            <button type="button" class="btn btn-danger" ng-click="canvasCopy = false">Close</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class='col-xs-4'>
                <label>&nbsp;</label>
                <p/>
                <div class="btn-group col-xs-12">
                    <div class="btn-group btn-block" dropdown>
                        <button type="button" class="btn btn-block btn-primary dropdown-toggle">
                            Preset Sizes
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-click='fabric.presetSize = size; fabric.setCanvasSize(size.width, size.height); fabric.setDirty(true);' ng-repeat='size in FabricConstants.presetSizes'><a>{{ size.name }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <p/>

        <div class='row'>
            <div class='col-xs-9'>
                <div class='image-builder' parent-click="fabric.deactivateAll()">
                    <div class='fabric-container'>
                        <canvas fabric='fabric'></canvas>
                        <div id="qrcode"></div>
                    </div>
                </div>
            </div>
            
            <div id="setting-object" class='col-xs-3'>
                <div ng-if='fabric.selectedObject'>
                    <!-- <button ng-click="fabric.toggleBorder()" class='btn'>
                        Toggle border <i class='fa fa-ban'></i>
                    </button> -->

					<!-- Flip -->
                    <div class="row mbm">
                        <div class="col-sm-12">
                            <button class='btn btn-small btn-block' ng-class="{ active: fabric.getFlipX() }" ng-click="{ active: fabric.toggleFlipX() }">
                                <i class='fa fa-exchange'></i> Flip
                            </button>
                        </div>
                    </div>

					<!-- Centering -->
                    <div class="row">
                        <div class="btn-group col-xs-12 btn-group-vertical">
                            <button ng-click='fabric.center()' class='btn btn-small btn-block'>
                                Center
                            </button>

                            <button ng-click='fabric.centerH()' class='btn btn-small btn-block'>
                                Center Horizontally
                            </button>

                            <button ng-click='fabric.centerV()' class='btn btn-small btn-block'>
                                Center Vertically
                            </button>
                        </div>
                    </div>

                    <p/>

					<!-- Z Index -->
                    <div class="row">
                        <div class="btn-group col-xs-12 btn-group-vertical">
                            <button ng-click='fabric.bringToFront(); fabric.setDirty(true)' class='btn btn-small btn-block'>
                                Bring to front
                            </button>

                            <button ng-click='fabric.bringForward(); fabric.setDirty(true)' class='btn btn-small btn-block'>
                                Bring forwards
                            </button>

                            <button ng-click='fabric.sendBackwards(); fabric.setDirty(true)' class='btn btn-small btn-block'>
                                Send backwards
                            </button>

                            <button ng-click='fabric.sendToBack(); fabric.setDirty(true)' class='btn btn-small btn-block'>
                                Send to back
                            </button>
                        </div>
                    </div>

                    <p/>

					<!-- Movement -->
                    <div class="row">
                        <div class="btn-group col-xs-12 btn-group-vertical">
		                    <button ng-click='fabric.toggleLockMovementXActiveObject(); fabric.setDirty(true)' ng-class="{ 'btn-default': fabric.selectedObject.lockMovementX }" class='btn btn-small btn-block'>
		                        Lock Movement X
		                    </button>
		                    <button ng-click='fabric.toggleLockMovementYActiveObject(); fabric.setDirty(true)' ng-class="{ 'btn-default': fabric.selectedObject.lockMovementY }" class='btn btn-small btn-block'>
		                        Lock Movement Y
		                    </button>
		                    <button ng-click='fabric.toggleLockActiveObject(); fabric.setDirty(true)' ng-class="{ 'btn-default': fabric.selectedObject.lockObject }" class='btn btn-small btn-block'>
		                        Lock All
		                    </button>
                        </div>
                    </div>

                    <p/>

					<!-- Transparency -->
                    <div class="row">
                    	<div class="col-sm-4"><label for="">Transparency</label></div>
                        <div class="col-sm-8">
                            <input class='col-sm-8' title="Transparency" type='range' min="0" max="1" step=".01" ng-model="fabric.selectedObject.opacity" />
                        </div>
                    </div>

					<!-- Object Control -->
                    <div ng-switch='fabric.selectedObject.type'>
                        <div ng-switch-when='text'>
                            <p>
                                <textarea style="text-align: {{ fabric.selectedObject.textAlign }}" class="form-control" rows="6" ng-model="fabric.selectedObject.text"></textarea>
                            </p>

                            <p title="Fill">
                                <input type='color' class="form-control" ng-model="fabric.selectedObject.fill" />
                            </p>
                            <p title="Stroke">
                                <input type='color' class="form-control" ng-model="fabric.selectedObject.stroke"/>
                            </p>
                            <p title="Stroke Width">
                                <input type='number' class="form-control" ng-model="fabric.selectedObject.strokeWidth" />
                            </p>

                            <p title="Font size">
                                <i class="fa fa-text-height"></i>
                                <input type='number' class="form-control" ng-model="fabric.selectedObject.fontSize" />
                            </p>

                            <p title="Line height">
                                <i class="fa fa-align-left"></i>
                                <input type='number' class="form-control" ng-model="fabric.selectedObject.lineHeight" step=".1" />
                            </p>

                            <div class='btn-group'>
                                <button ng-class="{ active: fabric.selectedObject.textAlign == 'left' }" ng-click="fabric.selectedObject.textAlign = 'left'" class='btn btn-small'>
                                    <i class='fa fa-align-left'></i>
                                </button>

                                <button ng-class="{ active: fabric.selectedObject.textAlign == 'center' }" ng-click="fabric.selectedObject.textAlign = 'center'" class='btn btn-small'>
                                    <i class='fa fa-align-center'></i>
                                </button>

                                <button ng-class="{ active: fabric.selectedObject.textAlign == 'right' }" ng-click="fabric.selectedObject.textAlign = 'right'" class='btn btn-small'>
                                    <i class='fa fa-align-right'></i>
                                </button>
                            </div>

                            <p/>

                            <div class='btn-group'>
                                <button ng-class="{ active: fabric.isBold() }" ng-click="fabric.toggleBold()" class='btn btn-small'>
                                    <i class='fa fa-bold'></i>
                                </button>

                                <button ng-class="{ active: fabric.isItalic() }" ng-click="fabric.toggleItalic()" class='btn btn-small'>
                                    <i class='fa fa-italic'></i>
                                </button>

                                <button ng-class="{ active: fabric.isUnderline() }" ng-click="fabric.toggleUnderline()" class='btn btn-small'>
                                    <i class='fa fa-underline'></i>
                                </button>

                                <button ng-class="{ active: fabric.isLinethrough() }" ng-click="fabric.toggleLinethrough()" class='btn btn-small'>
                                    <i class='fa fa-strikethrough'></i>
                                </button>
                            </div>

                            <p/>

                            <div class="row">

                            	<div class="btn-group col-sm-12" dropdown  is-open="dropdown.isOpen">
							      <button type="button" class="btn btn-primary btn-block dropdown-toggle" ng-disabled="disabled">
							        <span class='object-font-family-preview' style='font-family: "{{ fabric.selectedObject.fontFamily }}";'>
                                            {{ fabric.selectedObject.fontFamily }}
                                        </span>
                                        <span class="caret"></span>
							      </button>
                                    <ul class="dropdown-menu">
                                        <li ng-repeat='font in FabricConstants.fonts' ng-click='fabric.setFontFamily(font.name); dropdown.isOpen = !dropdown.isOpen' style='font-family: "{{ font.name }}";'>
                                            <a><span class='object-font-family-preview' style='font-family: {{ font.name }};'>
                                            {{ font.name }}
                                        </span></a>
                                        </li>
                                    </ul>
							    </div>
                            </div>
                        </div>

	                    <div ng-switch-when="image">
	                    	<div class="row">
		                        <div class="col-sm-12">
		                            <input type="text" class='form-control' ng-model="fabric.selectedObject.fill" />
		                        </div>
	                    	</div>
	                    </div>

                        <div ng-switch-when="image">
		                    <button ng-click="fabric.toggleImage()" class='btn'>
		                        Toggle Image <i class='fa fa-file-image-o'></i>
		                    </button>
		                    <button ng-click="fabric.toggleImageFrame()" class='btn'>
		                        Toggle Image Frame <i class='fa fa-ban'></i>
		                    </button>
                            <div class="input-prepend">
                                <button ng-class="{ active: fabric.isTinted() }" ng-click="fabric.toggleTint()" class='btn'>
                                    <i class='fa fa-tint'></i>
                                </button>
                                <input type="text" class='input-small' ng-model='fabric.selectedObject.tint' />
                            </div>
                        </div>

                        <div ng-switch-when="circle">
		                    <div class="row">
		                    	<div class="col-sm-3"><label for="">Radius</label></div>
		                        <div class="col-sm-6">
                            		<input type='range' class='pull-left' min='10' max='500' step='1' ng-change='fabric.updateRadiusCircle()' ng-model='fabric.radius' />
		                        </div>
		                    	<div class="col-sm-3">
									<input type="number" ng-model="fabric.radius" class="col-sm-12" style="padding:3px">
		                    	</div>
		                    </div>
                        </div>

                        <!-- <div ng-switch-when="rect">
		                    <div class="row">
		                    	<div class="col-sm-3"><label for="">Length</label></div>
		                        <div class="col-sm-6">
                            		<input type='range' class='pull-left' min='.5' max='3' step='.1' ng-change='fabric.updateSquare()' ng-model='fabric.length' />
		                        </div>
		                    	<div class="col-sm-3">
									<input type="text" ng-model="fabric.length" class="col-sm-12" style="padding:3px">
		                    	</div>
		                    </div>
                        </div> -->

                        <div ng-switch-when="group">
                            <div class="input-prepend">
                                <button ng-class="{ 'btn-primary': fabric.isGroupHidden(1), 'btn-default': !fabric.isGroupHidden(1) }" ng-click="fabric.toggleHidden(1)" class='btn'>
                                    1 <i class='fa' ng-class="{ 'fa-eye': fabric.isGroupHidden(1), 'fa-eye-slash':!fabric.isGroupHidden(1) }"></i>
                                </button>
                                <button ng-class="{ 'btn-primary': fabric.isGroupHidden(2), 'btn-default': !fabric.isGroupHidden(2) }" ng-click="fabric.toggleHidden(2)" class='btn'>
                                    2 <i class='fa' ng-class="{ 'fa-eye': fabric.isGroupHidden(2), 'fa-eye-slash':!fabric.isGroupHidden(2) }"></i>
                                </button>
                                <button ng-class="{ 'btn-primary': fabric.isGroupHidden(3), 'btn-default': !fabric.isGroupHidden(3) }" ng-click="fabric.toggleHidden(3)" class='btn'>
                                    3 <i class='fa' ng-class="{ 'fa-eye': fabric.isGroupHidden(3), 'fa-eye-slash':!fabric.isGroupHidden(3) }"></i>
                                </button>
                            </div>
                        </div>
                    </div>

					<!-- Controls -->
					<div class="row">
						<button ng-click='fabric.toggleControlObject(); fabric.setDirty(true)' ng-class="{ 'btn-default': !fabric.selectedObject.hasControls }" class='btn btn-small btn-block'>
	                        Toggle Control
	                    </button>
					</div>
                   
                    <div class="row">
                    	<div class="col-sm-2"><label for="">Angel</label></div>
                        <div class="col-sm-5">
                    		<input type='range' min="-90" max="90" step='1' ng-model='fabric.controls.angle' />
                        </div>
                    	<div class="col-sm-5">
							<input type="text" ng-model="fabric.controls.angle" class="col-sm-12 form-control">
                    	</div>
                    </div>
                    <div class="row">
                    	<div class="col-sm-2"><label for="">Left</label></div>
                        <div class="col-sm-5">
                    		<input type='range' min="0" max="{{fabric.maxBounding.left}}" step='1' ng-model='fabric.controls.left' />
                        </div>
                    	<div class="col-sm-5">
							<input type="number" ng-model="fabric.controls.left" class="col-sm-12 form-control">
                    	</div>
                    </div>
                    <div class="row">
                    	<div class="col-sm-2"><label for="">Top</label></div>
                        <div class="col-sm-5">
                    		<input type='range' min="0" max="{{fabric.maxBounding.top}}" step='1' ng-model='fabric.controls.top' />
                        </div>
                    	<div class="col-sm-5">
							<input type="number" ng-model="fabric.controls.top" class="col-sm-12 form-control">
                    	</div>
                    </div>
                    <div class="row">
                    	<div class="col-sm-2"><label for="">Scale</label></div>
                        <div class="col-sm-5">
                    		<input type='range' min='.1' max='3' step='.1' ng-model='fabric.controls.scale' />
                        </div>
                    	<div class="col-sm-5">
							<input type="number" ng-model="fabric.controls.scale" step='.1' class="col-sm-12 form-control">
                    	</div>
                    </div>

                    <div class="row" ng-show="fabric.presetSize.hasOwnProperty('type')">
                    	<div class="col-sm-3"><label for="">QR URL</label></div>
                    	<div class="col-sm-9" ng-class="{ 'load-qr':qr.loading, 'has-error': qr.valid === false, 'has-success': qr.valid === true }">
							<input type="url" class="col-sm-12 form-control" required 
								   ng-model="qr.url"
								   ui-event="{ focus: 'qr.onFocus($event)', blur:'qr.onBlur($event)' }">
							<wave-spinner></wave-spinner>
                    	</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
