<style>
	.form-signin {}
	.form-signin h3 {
	  margin-top: 0;
	}
	.form-signin .form-signin-heading,
	.form-signin .checkbox {
	  margin-bottom: 10px;
	}
	.form-signin .checkbox {
	  font-weight: normal;
	}
	.form-signin .form-control {
	  position: relative;
	  height: auto;
	  -webkit-box-sizing: border-box;
	     -moz-box-sizing: border-box;
	          box-sizing: border-box;
	  padding: 10px;
	  font-size: 16px;
	}
	.form-signin .form-control:focus {
	  z-index: 2;
	}
	.form-signin input[type="email"] {
	  margin-bottom: -1px;
	  border-bottom-right-radius: 0;
	  border-bottom-left-radius: 0;
	}
	.form-signin input[type="password"] {
	  margin-bottom: 10px;
	  border-top-left-radius: 0;
	  border-top-right-radius: 0;
	}
</style>
<div class="modal-header">
    <h3 class="modal-title text-center">Authentication</h3>
</div>
<div class="modal-body">
	<form role="form" ng-submit="login()">
		<div ng-if="$root.authError" class="alert alert-dismissable alert-warning">
		  <h4>{{ $root.authError.statusCode }} {{ $root.authError.statusMessage }}</h4>
		  <p bind-unsafe-html="$root.authError.data['error_description']"></p>
		</div>

		<div ng-if="!$root.authError.expired">
			<div class="form-group">
				<div class="input-group">
				  	<span class="input-group-addon"><i class="fa fa-user"></i></span>
				  	<input type="text" class="form-control" placeholder="Username" ng-model="user.username" required>
				</div>
			</div>
			<div class="form-group">
				<div class="input-group">
			  		<span class="input-group-addon"><i class="fa fa-lock"></i></span>
			  		<input type="password" class="form-control" placeholder="Password" ng-model="user.password" required>
				</div>
			</div>
			<!-- <div class="form-group">
			    <label class="checkbox">
			      <input type="checkbox" value="remember-me"> Remember me
			    </label>
		    </div> -->
		    <button type="submit" class="btn btn-primary btn-block" ng-class="{'disabled':$root.loading}">
		    	<span class="col-md-5 text-right"><i class="fa fa-sign-in"></i></span> 
		    	<span class="col-md-7 text-left prefix">Log in</span>
		    </button>
		    <button class="btn btn-warning btn-block" ng-class="{'disabled':$root.loading}" ng-click="cancel()">
		    	Cancel
		    </button>
		</div>
		<div ng-if="$root.authError.expired">
	    	<button class="btn btn-success btn-block" ng-class="{'disabled':$root.loading}" ng-click="refresh()">
	    		<span class="col-md-5 text-right"><i class="fa fa-refresh"></i></span> 
		    	<span class="col-md-7 text-left prefix">Refresh Token</span>
	    	</button>
	    	<button class="btn btn-danger btn-block" ng-class="{'disabled':$root.loading}" ng-click="logout()">
	    		<span class="col-md-5 text-right"><i class="fa fa-sign-out"></i></span> 
		    	<span class="col-md-7 text-left prefix">Logout</span>
	    	</button>
		    <!-- <button class="btn btn-warning btn-block" ng-class="{'disabled':$root.loading}" ng-click="cancel()">
		    	Cancel
		    </button> -->
		</div>
	</form>
</div>