<style>
	.field-top {
		padding-top: 10px;
	}
	.field-bottom {
		padding-bottom: 10px;
	}
	.field-top-bottom {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	legend.small {
		border-bottom: 0;
		margin-bottom: 10px;
		font-size: 18px;
		font-weight: bold;
	}

	.image-builder-container {
	    position: relative;
	}
	.image-builder {
	    background: #cacaca;
	    box-sizing: border-box;
	    border: 1px solid #cacaca;
	    min-height: 460px;
	    text-align: center;
	    position: relative;
	    overflow-x: scroll;
	    overflow-y: hidden;
	    width: 100%;
	}
	.image-cover {
	    left: 0;
	    right: 0;
	    bottom: 0;
	    top: 0;
	    position: absolute;
	    z-index: 2;
	}
	.fabric-container {
	    background: white;
	    border-radius: 1px;
	    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, .4);
	    display: inline-block;
	    margin: 50px;
	    position: relative;
	    vertical-align: middle;
	    z-index: 0;
	}

	.wave-spinner {
		position: absolute;
		top: 1px;
		left: 38%;
		z-index: 1;
		margin: 0 !important;
	}
</style>
<div class="page-header">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<ol class="breadcrumb bg-white">
			  <li><a href="#" class="text-primary">Home</a></li>
			  <li class="text-primary active">Poster</li>
			  <li class="text-primary active">Mobile</li>
			</ol>
			<hr>
		</div>
	</div>
	<div class="row">
		<aside id="settings" class="col-sm-12 col-md-3 col-lg-3">
			<div ng-include src="'views/splash/mobile-setting.html'"></div>
		</aside>
		<section id="editor" class="col-sm-12 col-md-9 col-lg-9">
			<div ng-include src="'views/splash/mobile-editor.html'"></div>
		</section>
	</div>
	<div class="row" ng-hide="!fabric.presetSize">
		<div class="col-sm-12 col-md-3 col-lg-3">
            <a class="btn btn-sm btn-default btn-block" ng-click="saveConfig()">
                <i class="fa fa-save"></i> Save
            </a>
            <a class="btn btn-sm btn-block" ng-class="mobile.disable.generate ? 'btn-info' : 'btn-success'" ng-disabled="loading" ng-click="generatePoster('download-mobile')">
                <i class="fa fa-gear"></i> Generate
            </a>
            <a id="download-mobile" class="btn btn-sm btn-block btn-success" ng-disabled="loading" ng-hide="mobile.disable.download">
                <i class="fa fa-download"></i> Download
            </a>
            <wave-spinner ng-show="loading"></wave-spinner>
		</div>
	</div>
	<div id="qrcode"></div>
</div>
