	<div class="row">
		<div class="col-lg-9">
			<banner-creator id="canvas-1" banner="banner" ng-show="banner.selected == 0"></banner-creator>
			<banner-creator id="canvas-2" banner="banner" tpl="1" ng-show="banner.selected == 1"></banner-creator>
			<banner-creator id="canvas-3" banner="banner" tpl="2" ng-show="banner.selected == 2"></banner-creator>
			<banner-creator id="canvas-4" banner="banner" tpl="3" ng-show="banner.selected == 3"></banner-creator>

			<div style="margin: 10px 0; text-align:center; border: 1px solid">
				<img ng-src="{{banner.imgPreview}}" alt="">
			</div>
		</div>
		<div class="col-lg-3" data-snap-ignore="true">
			<!-- <pre>Selected : {{ banner.selected }}</pre>
			<pre>Draw : {{ banner.draw }}</pre>
			 -->

			<form action="" method="POST" role="form">
				<div class="form-group">
					<a class="btn btn-sm btn-primary" ng-click="banner.generate()">Generate</a>
				</div>
				<div class="form-group">
					<label class="radio-inline">
					  <input type="radio" ng-model="draw"> None
					</label>
					<label class="radio-inline">
					  <input type="radio" ng-model="draw" value="bbox" ng-disabled="!banner.selected"> Box
					</label>
					<label class="radio-inline">
					  <input type="radio" ng-model="draw" value="circle" ng-disabled="!banner.selected"> Circle
					</label>
				</div>
				<!-- <div class="form-group">
					<label class="radio-inline">
					  <input type="radio" ng-model="banner.selected" value="0" ng-click="banner.selected = 0"> 0
					</label>
					<label class="radio-inline">
					  <input type="radio" ng-model="banner.selected" value="1" ng-click="banner.selected = 1"> 1
					</label>
					<label class="radio-inline">
					  <input type="radio" ng-model="banner.selected" value="2" ng-click="banner.selected = 2"> 2
					</label>
					<label class="radio-inline">
					  <input type="radio" ng-model="banner.selected" value="3" ng-click="banner.selected = 3"> 3
					</label>
				</div> -->

				<div class="form-group">
					<label for="title" style="width:100px;">Template</label>
					<div class="btn-group">
					  <button type="button" class="btn btn-sm btn-primary" 
					  		ng-class="{'active':banner.selected == 0}"
					  		ng-click="banner.selected = 0">0</button>
					  <button type="button" class="btn btn-sm btn-primary" 
					  		ng-class="{'active':banner.selected == 1}"
					  		ng-click="banner.selected = 1">1</button>
					  <button type="button" class="btn btn-sm btn-primary" 
					  		ng-class="{'active':banner.selected == 2}"
					  		ng-click="banner.selected = 2">2</button>
					  <button type="button" class="btn btn-sm btn-primary" 
					  		ng-class="{'active':banner.selected == 3}"
					  		ng-click="banner.selected = 3">3</button>
					</div>
				</div>

				<div class="form-group">
					<label for="title" style="width:100px;">Overlay</label>
					<div class="btn-group">
					  <button type="button" class="btn btn-sm btn-primary" 
					  		ng-class="{'active':banner.overlay}"
					  		ng-click="banner.overlay = true">Yes</button>
					  <button type="button" class="btn btn-sm btn-primary" 
					  		ng-class="{'active':!banner.overlay}"
					  		ng-click="banner.overlay = false">No</button>
					</div>
				</div>

				<legend>Logo</legend>
				<div class="form-group">
					<label for="title" style="width:100px;">Show</label>
					<input type="checkbox" ng-model="banner.logo.show">
				</div>
				<div class="form-group">
					<label for="title" style="width:100px;">Placeholder</label>
					<input type="checkbox" ng-model="banner.logo.placeholder">
				</div>


				<legend>Content</legend>
				<div class="form-group">
					<label for="title">Title</label>
					<input type="text" class="form-control" id="title" placeholder="Enter title" ng-model="banner.text.content.title">
				</div>
				<div class="form-group">
					<label for="description">Description</label>
					<textarea description="" rows="10" class="form-control" ng-model="banner.text.content.description"></textarea>
				</div>

				<legend>Prize 1</legend>
				<div class="form-group">
					<label>Header Title</label>
					<input type="text" class="form-control" placeholder="Enter title" ng-model="banner.prize[1].header.content.title">
				</div>
				<div class="form-group">
					<label>Header Description</label>
					<input type="text" class="form-control" placeholder="Enter title" ng-model="banner.prize[1].header.content.description">
				</div>
				<div class="form-group">
					<label>Prize Text</label>
					<input type="text" class="form-control" placeholder="Enter title" ng-model="banner.prize[1].image.data[0].text">
				</div>

				<legend>Prize 2</legend>
				<div class="form-group">
					<label>Header Title</label>
					<input type="text" class="form-control" placeholder="Enter title" ng-model="banner.prize[2].header.content.title">
				</div>
				<div class="form-group">
					<label>Header Description</label>
					<input type="text" class="form-control" placeholder="Enter title" ng-model="banner.prize[2].header.content.description">
				</div>
				<div class="form-group">
					<label>Prize Text 1</label>
					<input type="text" class="form-control" placeholder="Enter title" ng-model="banner.prize[2].image.data[0].text">
				</div>
				<div class="form-group">
					<label>Prize Text 2</label>
					<input type="text" class="form-control" placeholder="Enter title" ng-model="banner.prize[2].image.data[1].text">
				</div>
			</form>
		</div>
	</div>

