<div class="page-header">
	<div class="row">
		<div class="col-lg-9">
			<banner-creator id="canvas-1" ng-model="banner"></banner-creator>
			<banner-creator id="canvas-2" ng-model="banner" type="1"></banner-creator>
			<banner-creator id="canvas-3" ng-model="banner" type="2"></banner-creator>
		</div>
		<div class="col-lg-3" data-snap-ignore="true">
			<!-- <pre>Selected : {{ banner.selected }}</pre>
			<pre>Draw : {{ banner.draw }}</pre>
			 -->

			<accordion close-others=true>
			    <accordion-group heading="Font" is-open="isFirstOpen">
			      	<div class="form-group">
						<div class="row">
							<jd-fontselect stack="banner.text.font.family" class="col-md-12"></jd-fontselect>
						</div>
					</div>
			    </accordion-group>
			    <accordion-group heading="Header">
			    	<div class="form-group">
						<label for="y">Font Size</label>
						<div class="row">
							<div class="col-lg-9">
								<input type="range" min="8" max="32" ng-model="banner.text.font.header.size"> 
							</div>
							<div class="col-lg-3">
								<input type="text" class="form-control input-sm" ng-model="banner.text.font.header.size">
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="y">Line Height</label>
						<div class="row">
							<div class="col-lg-9">
								<input type="range" min="8" max="64" ng-model="banner.text.font.header.line"> 
							</div>
							<div class="col-lg-3">
								<input type="text" class="form-control input-sm" ng-model="banner.text.font.header.line">
							</div>
						</div>
					</div>
			    </accordion-group>
			    <accordion-group heading="Paragraph">
					<div class="form-group">
						<label for="y">Font Size</label>
						<div class="row">
							<div class="col-lg-9">
								<input type="range" min="8" max="32" ng-model="banner.text.font.paragraph.size"> 
							</div>
							<div class="col-lg-3">
								<input type="text" class="form-control input-sm" ng-model="banner.text.font.paragraph.size">
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="y">Line Height</label>
						<div class="row">
							<div class="col-lg-9">
								<input type="range" min="8" max="64" ng-model="banner.text.font.paragraph.line"> 
							</div>
							<div class="col-lg-3">
								<input type="text" class="form-control input-sm" ng-model="banner.text.font.paragraph.line">
							</div>
						</div>
					</div>
			    </accordion-group>
			</accordion>
			<form action="" method="POST" role="form">
				<div class="form-group">
					<label class="radio-inline">
					  <input type="radio" ng-model="draw" id="inlineRadio1" ng-value=null> None
					</label>
					<label class="radio-inline">
					  <input type="radio" ng-model="draw" id="inlineRadio1" value="bbox" ng-disabled="!banner.selected"> Box
					</label>
					<label class="radio-inline">
					  <input type="radio" ng-model="draw" id="inlineRadio2" value="circle" ng-disabled="!banner.selected"> Circle
					</label>
				</div>

				<legend>Content</legend>
				<div class="panel panel-primary">
					<div class="panel-heading">Style</div>
				  	<div class="panel-body">
						<legend>Font</legend>
						<div class="form-group">
							<div class="row">
								<jd-fontselect stack="banner.text.font.family" class="col-md-12"></jd-fontselect>
							</div>
						</div>
						<legend>Header</legend>
						<div class="form-group">
							<label for="y">Font Size</label>
							<div class="row">
								<div class="col-lg-9">
									<input type="range" min="8" max="32" ng-model="banner.text.font.header.size"> 
								</div>
								<div class="col-lg-3">
									<input type="text" class="form-control input-sm" ng-model="banner.text.font.header.size">
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="y">Line Height</label>
							<div class="row">
								<div class="col-lg-9">
									<input type="range" min="8" max="64" ng-model="banner.text.font.header.line"> 
								</div>
								<div class="col-lg-3">
									<input type="text" class="form-control input-sm" ng-model="banner.text.font.header.line">
								</div>
							</div>
						</div>
						<legend>Paragraph</legend>
						<div class="form-group">
							<label for="y">Font Size</label>
							<div class="row">
								<div class="col-lg-9">
									<input type="range" min="8" max="32" ng-model="banner.text.font.paragraph.size"> 
								</div>
								<div class="col-lg-3">
									<input type="text" class="form-control input-sm" ng-model="banner.text.font.paragraph.size">
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="y">Line Height</label>
							<div class="row">
								<div class="col-lg-9">
									<input type="range" min="8" max="64" ng-model="banner.text.font.paragraph.line"> 
								</div>
								<div class="col-lg-3">
									<input type="text" class="form-control input-sm" ng-model="banner.text.font.paragraph.line">
								</div>
							</div>
						</div>
				  	</div>
				</div>
				<div class="panel panel-primary">
						<div class="panel-heading">Text</div>
				  	<div class="panel-body">
						<div class="form-group">
							<label for="title">Title</label>
							<input type="text" class="form-control" id="title" placeholder="Enter title" ng-model="banner.text.html.title">
						</div>
						<div class="form-group">
							<label for="description">Description</label>
							<textarea description="" rows="10" class="form-control" ng-model="banner.text.html.description"></textarea>
						</div>
				  	</div>
				</div>

				<legend>Prize 1</legend>
				<div class="panel panel-primary">
					<div class="panel-heading">Style</div>
				  	<div class="panel-body">
						<div class="form-group">
							<label for="font">Font Family</label>
							<div class="row">
								<jd-fontselect stack="banner.prize[1].text.font.family" class="col-md-12"></jd-fontselect>
							</div>
						</div>
						<div class="form-group">
							<label>Hide Placeholder</label>
						    <input type="checkbox" ng-true-value=0 ng-false-value=1 ng-model="banner.prize[1].placeholder"><br/>
							<label for="font">Color</label>
							<input type="color" class="input-sm" style="width: 30px;border: none;padding: 0;" ng-model="banner.prize[1].text.font.color">
						</div>
						<div class="form-group">
							<label for="y">Prize YAxis</label>
							<input type="range" min="175" max="310" ng-model="banner.prize[1].image.y">
						</div>
				  	</div>
				</div>

				<div class="panel panel-primary">
					<div class="panel-heading">Text</div>
				  	<div class="panel-body">
						<div class="form-group">
							<label>Header Title</label>
							<input type="text" class="form-control" placeholder="Enter title" ng-model="banner.prize[1].text.header">
						</div>
						<div class="form-group">
							<label>Header Description</label>
							<input type="text" class="form-control" placeholder="Enter title" ng-model="banner.prize[1].text.description">
						</div>
						<div class="form-group">
							<label>Prize Text</label>
							<input type="text" class="form-control" placeholder="Enter title" ng-model="banner.prize[1].image.text">
						</div>
				  	</div>
				</div>
				<legend>Prize 2</legend>
				<div class="panel panel-primary">
					<div class="panel-heading">Style</div>
				  	<div class="panel-body">
						<div class="form-group">
							<label for="font">Font Family</label>
							<div class="row">
								<jd-fontselect stack="banner.prize[2].text.font.family" class="col-md-12"></jd-fontselect>
							</div>
						</div>
						<div class="form-group">
							<label for="y">Prize YAxis</label>
							<input type="range" min="175" max="310" ng-model="banner.prize[1].image.y">
						</div>
				  	</div>
				</div>
				<div class="panel panel-primary">
					<div class="panel-heading">Text</div>
				  	<div class="panel-body">
						<div class="form-group">
							<label>Header Title</label>
							<input type="text" class="form-control" placeholder="Enter title" ng-model="banner.prize[2].text.header">
						</div>
						<div class="form-group">
							<label>Header Description</label>
							<input type="text" class="form-control" placeholder="Enter title" ng-model="banner.prize[2].text.description">
						</div>
						<div class="form-group">
							<label>Prize Text 1</label>
							<input type="text" class="form-control" placeholder="Enter title" ng-model="banner.prize[2].image.attrs[0].text">
						</div>
						<div class="form-group">
							<label>Prize Text 2</label>
							<input type="text" class="form-control" placeholder="Enter title" ng-model="banner.prize[2].image.attrs[1].text">
						</div>
				  	</div>
				</div>
			</form>
		</div>
	</div>
	<div class="row"></div>
</div>