	<div class="row">
		<div class="col-lg-9">
			<banner-creator id="canvas-1" ng-model="banner"></banner-creator>
			<banner-creator id="canvas-2" ng-model="banner" tpl="1"></banner-creator>
			<banner-creator id="canvas-3" ng-model="banner" tpl="2"></banner-creator>
			<banner-creator id="canvas-4" ng-model="banner" tpl="3"></banner-creator>
		</div>
		<div class="col-lg-3" data-snap-ignore="true">
			<!-- <pre>Selected : {{ banner.selected }}</pre>
			<pre>Draw : {{ banner.draw }}</pre>
			 -->

			<form action="" method="POST" role="form">
				<div class="form-group">
					<label class="radio-inline">
					  <input type="radio" ng-model="draw" id="inlineRadio1" ng-value=null> None
					</label>
					<label class="radio-inline">
					  <input type="radio" ng-model="draw" id="inlineRadio1" value="bbox" ng-disabled="!banner.selected"> Box
					</label>
					<label class="radio-inline">
					  <input type="radio" ng-model="draw" id="inlineRadio2" value="circle" ng-disabled="!banner.selected"> Circle
					</label>
				</div>

				<legend>Content</legend>
				<div class="form-group">
					<label for="title">Title</label>
					<input type="text" class="form-control" id="title" placeholder="Enter title" ng-model="banner.text.content.title">
				</div>
				<div class="form-group">
					<label for="description">Description</label>
					<textarea description="" rows="10" class="form-control" ng-model="banner.text.content.description"></textarea>
				</div>

				<legend>Prize 1</legend>
				<div class="form-group">
					<label>Header Title</label>
					<input type="text" class="form-control" placeholder="Enter title" ng-model="banner.prize[1].header.content.title">
				</div>
				<div class="form-group">
					<label>Header Description</label>
					<input type="text" class="form-control" placeholder="Enter title" ng-model="banner.prize[1].header.content.description">
				</div>
				<div class="form-group">
					<label>Prize Text</label>
					<input type="text" class="form-control" placeholder="Enter title" ng-model="banner.prize[1].image.data[0].text">
				</div>

				<legend>Prize 2</legend>
				<div class="form-group">
					<label>Header Title</label>
					<input type="text" class="form-control" placeholder="Enter title" ng-model="banner.prize[2].header.content.title">
				</div>
				<div class="form-group">
					<label>Header Description</label>
					<input type="text" class="form-control" placeholder="Enter title" ng-model="banner.prize[2].header.content.description">
				</div>
				<div class="form-group">
					<label>Prize Text 1</label>
					<input type="text" class="form-control" placeholder="Enter title" ng-model="banner.prize[2].image.data[0].text">
				</div>
				<div class="form-group">
					<label>Prize Text 2</label>
					<input type="text" class="form-control" placeholder="Enter title" ng-model="banner.prize[2].image.data[1].text">
				</div>
			</form>
		</div>
	</div>

