<div class="container" style="padding-top:70px">
	<div class="row">
	  	<div class="col-lg-3 col-md-3" ng-if="obj" ng-repeat="obj in menus.left.model.data">
		    <div class="thumbnail">
		      <img ng-src="{{ obj.preview }}" alt="...">
		      <div class="caption">
		        <h3>{{ obj.title }}</h3>
		        <p>{{ obj.description }}</p>
		        <p>
		        	<a href="#/splash/mobile/{{ obj.ID }}" class="btn btn-sm btn-primary">View</a>  
		        	<a ng-href="{{ obj.preview }}" download="{{ obj.title }}" class="btn btn-sm btn-success">Download</a>
		        	<a ng-click="menus.left.model.delete($index)" class="btn btn-sm btn-danger pull-right">Delete</a>
		        </p>
		      </div>
		    </div>
	  	</div>
	</div>
</div>