<div class="container">
    <div class="row">
        <div ng-class="{
				'col-xs-4 col-sm-4 col-md-4 col-lg-4' : menus.top.model.fabric.isText(),
				'col-xs-6 col-sm-6 col-md-6 col-lg-6' : !menus.top.model.fabric.isText()
        	}">
            <div class="form-horizontal">
                <fieldset>
                    <legend>Controls</legend>
                    <div class="form-group">
                        <label for="transparent" class="col-md-4 control-label" style="text-align:left">Transparent</label>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <input type="range" min="0" max="1" step=".1" ng-model="menus.top.model.fabric.selectedObject.opacity" class="input-sm form-control">
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <input type="number" min="0.1" max="1" step="0.1" ng-model="menus.top.model.fabric.selectedObject.opacity" class="input-sm form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="angle" class="col-md-4 control-label" style="text-align:left">Angle</label>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <input type="range" min="-90" max="90" ng-model="menus.top.model.fabric.controls.angle" class="input-sm form-control">
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <input type="number" min="-90" max="90" ng-model="menus.top.model.fabric.controls.angle" class="input-sm form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="left" class="col-md-4 control-label" style="text-align:left">X</label>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <input type="range" class="input-sm form-control" min="0" max="{{menus.top.model.fabric.maxBounding.left}}" ng-model="menus.top.model.fabric.controls.left" class="input-sm form-control">
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <input type="number" class="input-sm form-control" min="0" max="{{menus.top.model.fabric.maxBounding.left}}" ng-model="menus.top.model.fabric.controls.left" class="input-sm form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="right" class="col-md-4 control-label" style="text-align:left">Y</label>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <input type="range" class="input-sm form-control" min="0" max="{{menus.top.model.fabric.maxBounding.top}}" ng-model="menus.top.model.fabric.controls.top" class="input-sm form-control">
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <input type="number" class="input-sm form-control" min="0" max="{{menus.top.model.fabric.maxBounding.top}}" ng-model="menus.top.model.fabric.controls.top" class="input-sm form-control">
                        </div>
                    </div>
                    <div class="form-group" ng-show="menus.top.model.fabric.selectedObject">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<button class="btn btn-sm btn-warning" ng-click="menus.top.model.resetControls()">
								<i class="fa fa-refresh"></i> Reset
							</button>
						</div>
                    </div>
                </fieldset>
            </div>
        </div>
        <div ng-class="{
				'col-xs-4 col-sm-4 col-md-4 col-lg-4' : menus.top.model.fabric.isText(),
				'col-xs-6 col-sm-6 col-md-6 col-lg-6' : !menus.top.model.fabric.isText()
        	}">
            <div class="form-horizontal">
                <fieldset>
                    <legend>Position</legend>
                    <div class="form-group">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="btn-group-vertical btn-block">
                                <button class="btn btn-sm btn-default" ng-click="menus.top.model.fabric.center()"><i class="fa fa-arrows"></i> Center</button>
                                <button class="btn btn-sm btn-default" ng-click="menus.top.model.fabric.centerH()"><i class="fa fa-arrows-h"></i> Center Horizontal</button>
                                <button class="btn btn-sm btn-default" ng-click="menus.top.model.fabric.centerV()"><i class="fa fa-arrows-v"></i> Center Vertical</button>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Lock</legend>
                    <div class="form-group">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="btn-group-vertical btn-block">
                                <button class="btn btn-sm" ng-click="menus.top.model.fabric.toggleLockActiveObject(); menus.top.model.fabric.setDirty(true)" ng-class="{ 
										'btn-default': !menus.top.model.fabric.selectedObject.lockObject,
										'btn-primary': menus.top.model.fabric.selectedObject.lockObject
									}">Lock All</button>
                                <button class="btn btn-sm" ng-click="menus.top.model.fabric.toggleLockMovementXActiveObject(); menus.top.model.fabric.setDirty(true)" ng-class="{ 
										'btn-default': !menus.top.model.fabric.selectedObject.lockMovementX,
										'btn-primary': menus.top.model.fabric.selectedObject.lockMovementX
									}">Lock MovementX</button>
                                <button class="btn btn-sm" ng-click="menus.top.model.fabric.toggleLockMovementYActiveObject(); menus.top.model.fabric.setDirty(true)" ng-class="{ 
										'btn-default': !menus.top.model.fabric.selectedObject.lockMovementY,
										'btn-primary': menus.top.model.fabric.selectedObject.lockMovementY
									}">Lock MovementY</button>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <div ng-if="menus.top.model.fabric.isText()" class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="height:295px; overflow-y:auto">
            <div class="form-horizontal">
                <fieldset class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <legend>Color</legend>
                    <div class="form-group">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <input type="color" class="input-sm form-control" ng-model="menus.top.model.fabric.selectedObject.fill">
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <input type="text" class="input-sm form-control" ng-model="menus.top.model.fabric.selectedObject.fill">
                        </div>
                    </div>
                </fieldset>
                <fieldset class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <legend>Stroke</legend>
                    <div class="form-group">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <input type="color" class="input-sm form-control" ng-model="menus.top.model.fabric.selectedObject.stroke">
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <input type="text" class="input-sm form-control" ng-model="menus.top.model.fabric.selectedObject.stroke">
                        </div>
                    </div>
                </fieldset>
                <fieldset class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="{{ menus.top.model.dropdown.fontIsOpen ? 'min-height: 460px;' : '' }}">
                    <legend>Fonts</legend>
                    <div class="form-group">
                        <div class="btn-group col-xs-12">
                            <div class="btn-group btn-block" dropdown is-open="menus.top.model.dropdown.fontIsOpen">
                                <button type="button" class="btn btn-sm btn-block btn-primary active dropdown-toggle" style='font-family: "{{ menus.top.model.fabric.selectedObject.fontFamily }}";'>
                                    {{ menus.top.model.fabric.selectedObject.fontFamily }}
                                    <span class="caret"></span>
                                </button>
                                <ul class="col-xs-12 col-sm-12 col-md-12 col-lg-12 dropdown-menu">
                                    <li ng-repeat='font in menus.top.model.FabricConstants.fonts' style='font-family: "{{ font.name }}";'>
                                        <a ng-click='menus.top.model.fabric.setFontFamily(font.name); menus.top.model.dropdown.fontIsOpen = !menus.top.model.dropdown.fontIsOpen'>
                                            <span class='object-font-family-preview' style='font-family: {{ font.name }};'>
                                                {{ font.name }}
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label for="font-size" class="col-md-12"><i class="fa fa-font"></i>
                                </label>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <input type="number" class="input-sm form-control" ng-model="menus.top.model.fabric.selectedObject.fontSize">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label for="font-size" class="col-md-12"><i class="fa fa-align-left"></i>
                                </label>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <input type="number" class="input-sm form-control" ng-model="menus.top.model.fabric.selectedObject.lineHeight">
                                </div>
                            </div>
                        </div>
                        <div class="btn-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <button type="button" class="btn btn-sm" ng-class="{ 
									  			'btn-default': menus.top.model.fabric.selectedObject.textAlign != 'left',
									  			'btn-primary': menus.top.model.fabric.selectedObject.textAlign == 'left'
									  		}" ng-click="menus.top.model.fabric.selectedObject.textAlign = 'left'">
                                <i class="fa fa-align-left"></i>
                            </button>
                            <button type="button" class="btn btn-sm" ng-class="{ 
									  			'btn-default': menus.top.model.fabric.selectedObject.textAlign != 'center',
									  			'btn-primary': menus.top.model.fabric.selectedObject.textAlign == 'center'
									  		}" ng-click="menus.top.model.fabric.selectedObject.textAlign = 'center'">
                                <i class="fa fa-align-center"></i>
                            </button>
                            <button type="button" class="btn btn-sm" ng-class="{ 
									  			'btn-default': menus.top.model.fabric.selectedObject.textAlign != 'right',
									  			'btn-primary': menus.top.model.fabric.selectedObject.textAlign == 'right'
									  		}" ng-click="menus.top.model.fabric.selectedObject.textAlign = 'right'">
                                <i class="fa fa-align-right"></i>
                            </button>
                        </div>
                        <div class="btn-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <button type="button" class="btn btn-sm" ng-class="{ 
									  			'btn-default': !menus.top.model.fabric.isBold(),
									  			'btn-primary': menus.top.model.fabric.isBold()
									  		}" ng-click="menus.top.model.fabric.toggleBold()">
                                <i class="fa fa-bold"></i>
                            </button>
                            <button type="button" class="btn btn-sm" ng-class="{ 
									  			'btn-default': !menus.top.model.fabric.isItalic(),
									  			'btn-primary': menus.top.model.fabric.isItalic()
									  		}" ng-click="menus.top.model.fabric.toggleItalic()">
                                <i class="fa fa-italic"></i>
                            </button>
                            <button type="button" class="btn btn-sm btn-default" ng-class="{ 
									  			'btn-default': !menus.top.model.fabric.isUnderline(),
									  			'btn-primary': menus.top.model.fabric.isUnderline()
									  		}" ng-click="menus.top.model.fabric.toggleUnderline()">
                                <i class="fa fa-italic"></i>
                            </button>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>
